/*
|------------------------------------------------------------------------------
| Display.css
|------------------------------------------------------------------------------
|
| Display handling in css. Provide classes about displaying, floating
| z-indexing and cursor.
|
|
|
*/

/* Displaying */
.dsp-block{display: block !important;}
.dsp-inline{display: inline !important;}
.dsp-inline-block{display:inline-block !important;}
.dsp-table{display: table !important;}
.dsp-table-cell{display: table-cell !important;}
.dsp-flex{display: flex !important;}
.dsp-none{display: none !important;}

/* Visibility */
.is-visible{visibility: visible !important;}
.is-hidden{visibility: hidden !important;}

/* Overflow */
.auto-ovf{overflow: auto !important;}
.scroll-ovf{overflow: scroll !important;}
.visible-ovf{overflow: visible !important;}
.hidden-ovf{overflow: hidden !important;}

/* Floating*/
.left-float{float: left !important;}
.right-float{float: right !important;}
.no-float{float: none !important;}

/* Clearing */
.left-clear{clear: left !important;}
.right-clear{clear: right !important;}
.both-clear{clear: both !important;}
.np-clear{clear: none !important;}

/* Position */
.is-relative{position: relative !important;}
.is-absolute{position: absolute !important;} 
.is-static{position: static !important;}

/* Top position */
.top-0{top: 0px !important;}
.top-10{top: 10px !important;}
.top-20{top: 20px !important;}
.top-30{top: 30px !important;}
.top-40{top: 40px !important;}
.top-50{top: 50px !important;}
.top-60{top: 60px !important;}
.top-70{top: 70px !important;}
.top-80{top: 80px !important;}
.top-90{top: 90px !important;}
.top-100{top: 100px !important;}
.top-110{top: 110px !important;}
.top-120{top: 120px !important;}
.top-130{top: 130px !important;}
.top-140{top: 140px !important;}
.top-150{top: 150px !important;}
.top-160{top: 160px !important;}
.top-170{top: 170px !important;}
.top-180{top: 180px !important;}
.top-190{top: 190px !important;}
.top-200{top: 200px !important;}
.top-210{top: 210px !important;}
.top-220{top: 220px !important;}
.top-230{top: 230px !important;}
.top-240{top: 240px !important;}
.top-250{top: 250px !important;}
.top-260{top: 260px !important;}
.top-270{top: 270px !important;}
.top-280{top: 280px !important;}
.top-290{top: 290px !important;}
.top-300{top: 300px !important;}
.top-310{top: 310px !important;}
.top-320{top: 320px !important;}
.top-330{top: 330px !important;}
.top-340{top: 340px !important;}
.top-350{top: 350px !important;}
.top-360{top: 360px !important;}
.top-370{top: 370px !important;}
.top-380{top: 380px !important;}
.top-390{top: 390px !important;}
.top-400{top: 400px !important;}
.top-410{top: 410px !important;}
.top-420{top: 420px !important;}
.top-430{top: 430px !important;}
.top-440{top: 440px !important;}
.top-450{top: 450px !important;}
.top-460{top: 460px !important;}
.top-470{top: 470px !important;}
.top-480{top: 480px !important;}
.top-490{top: 490px !important;}
.top-500{top: 500px !important;}
.top-510{top: 510px !important;}
.top-520{top: 520px !important;}
.top-530{top: 530px !important;}
.top-540{top: 540px !important;}
.top-550{top: 550px !important;}
.top-560{top: 560px !important;}
.top-570{top: 570px !important;}
.top-580{top: 580px !important;}
.top-590{top: 590px !important;}
.top-600{top: 600px !important;}
.top-610{top: 610px !important;}
.top-620{top: 620px !important;}
.top-630{top: 630px !important;}
.top-640{top: 640px !important;}
.top-650{top: 650px !important;}
.top-660{top: 660px !important;}
.top-670{top: 670px !important;}
.top-680{top: 680px !important;}
.top-690{top: 690px !important;}
.top-700{top: 700px !important;}
.top-710{top: 710px !important;}
.top-720{top: 720px !important;}
.top-740{top: 730px !important;}
.top-740{top: 740px !important;}
.top-750{top: 750px !important;}
.top-760{top: 760px !important;}
.top-770{top: 770px !important;}
.top-780{top: 780px !important;}
.top-790{top: 790px !important;}
.top-800{top: 800px !important;}
.top-810{top: 810px !important;}
.top-820{top: 820px !important;}
.top-830{top: 830px !important;}
.top-840{top: 840px !important;}
.top-850{top: 850px !important;}
.top-860{top: 860px !important;}
.top-870{top: 870px !important;}
.top-880{top: 880px !important;}
.top-890{top: 890px !important;}
.top-900{top: 900px !important;}
.top-910{top: 910px !important;}
.top-920{top: 920px !important;}
.top-930{top: 930px !important;}
.top-940{top: 940px !important;}
.top-950{top: 950px !important;}
.top-960{top: 960px !important;}
.top-970{top: 970px !important;}
.top-980{top: 980px !important;}
.top-990{top: 990px !important;}
.top-1000{top: 1000px !important;}

/* Bottom */
.bottom-0{bottom: 0px !important;}
.bottom-10{bottom: 10px !important;}
.bottom-20{bottom: 20px !important;}
.bottom-30{bottom: 30px !important;}
.bottom-40{bottom: 40px !important;}
.bottom-50{bottom: 50px !important;}
.bottom-60{bottom: 60px !important;}
.bottom-70{bottom: 70px !important;}
.bottom-80{bottom: 80px !important;}
.bottom-90{bottom: 90px !important;}
.bottom-100{bottom: 100px !important;}
.bottom-110{bottom: 110px !important;}
.bottom-120{bottom: 120px !important;}
.bottom-130{bottom: 130px !important;}
.bottom-140{bottom: 140px !important;}
.bottom-150{bottom: 150px !important;}
.bottom-160{bottom: 160px !important;}
.bottom-170{bottom: 170px !important;}
.bottom-180{bottom: 180px !important;}
.bottom-190{bottom: 190px !important;}
.bottom-200{bottom: 200px !important;}
.bottom-210{bottom: 210px !important;}
.bottom-220{bottom: 220px !important;}
.bottom-230{bottom: 230px !important;}
.bottom-240{bottom: 240px !important;}
.bottom-250{bottom: 250px !important;}
.bottom-260{bottom: 260px !important;}
.bottom-270{bottom: 270px !important;}
.bottom-280{bottom: 280px !important;}
.bottom-290{bottom: 290px !important;}
.bottom-300{bottom: 300px !important;}
.bottom-310{bottom: 310px !important;}
.bottom-320{bottom: 320px !important;}
.bottom-330{bottom: 330px !important;}
.bottom-340{bottom: 340px !important;}
.bottom-350{bottom: 350px !important;}
.bottom-360{bottom: 360px !important;}
.bottom-370{bottom: 370px !important;}
.bottom-380{bottom: 380px !important;}
.bottom-390{bottom: 390px !important;}
.bottom-400{bottom: 400px !important;}
.bottom-410{bottom: 410px !important;}
.bottom-420{bottom: 420px !important;}
.bottom-430{bottom: 430px !important;}
.bottom-440{bottom: 440px !important;}
.bottom-450{bottom: 450px !important;}
.bottom-460{bottom: 460px !important;}
.bottom-470{bottom: 470px !important;}
.bottom-480{bottom: 480px !important;}
.bottom-490{bottom: 490px !important;}
.bottom-500{bottom: 500px !important;}
.bottom-510{bottom: 510px !important;}
.bottom-520{bottom: 520px !important;}
.bottom-530{bottom: 530px !important;}
.bottom-540{bottom: 540px !important;}
.bottom-550{bottom: 550px !important;}
.bottom-560{bottom: 560px !important;}
.bottom-570{bottom: 570px !important;}
.bottom-580{bottom: 580px !important;}
.bottom-590{bottom: 590px !important;}
.bottom-600{bottom: 600px !important;}
.bottom-610{bottom: 610px !important;}
.bottom-620{bottom: 620px !important;}
.bottom-630{bottom: 630px !important;}
.bottom-640{bottom: 640px !important;}
.bottom-650{bottom: 650px !important;}
.bottom-660{bottom: 660px !important;}
.bottom-670{bottom: 670px !important;}
.bottom-680{bottom: 680px !important;}
.bottom-690{bottom: 690px !important;}
.bottom-700{bottom: 700px !important;}
.bottom-710{bottom: 710px !important;}
.bottom-720{bottom: 720px !important;}
.bottom-740{bottom: 730px !important;}
.bottom-740{bottom: 740px !important;}
.bottom-750{bottom: 750px !important;}
.bottom-760{bottom: 760px !important;}
.bottom-770{bottom: 770px !important;}
.bottom-780{bottom: 780px !important;}
.bottom-790{bottom: 790px !important;}
.bottom-800{bottom: 800px !important;}
.bottom-810{bottom: 810px !important;}
.bottom-820{bottom: 820px !important;}
.bottom-830{bottom: 830px !important;}
.bottom-840{bottom: 840px !important;}
.bottom-850{bottom: 850px !important;}
.bottom-860{bottom: 860px !important;}
.bottom-870{bottom: 870px !important;}
.bottom-880{bottom: 880px !important;}
.bottom-890{bottom: 890px !important;}
.bottom-900{bottom: 900px !important;}
.bottom-910{bottom: 910px !important;}
.bottom-920{bottom: 920px !important;}
.bottom-930{bottom: 930px !important;}
.bottom-940{bottom: 940px !important;}
.bottom-950{bottom: 950px !important;}
.bottom-960{bottom: 960px !important;}
.bottom-970{bottom: 970px !important;}
.bottom-980{bottom: 980px !important;}
.bottom-990{bottom: 990px !important;}
.bottom-1000{bottom: 1000px !important;}

/* Left */
.left-0{left: 0px !important;}
.left-10{left: 10px !important;}
.left-20{left: 20px !important;}
.left-30{left: 30px !important;}
.left-40{left: 40px !important;}
.left-50{left: 50px !important;}
.left-60{left: 60px !important;}
.left-70{left: 70px !important;}
.left-80{left: 80px !important;}
.left-90{left: 90px !important;}
.left-100{left: 100px !important;}
.left-110{left: 110px !important;}
.left-120{left: 120px !important;}
.left-130{left: 130px !important;}
.left-140{left: 140px !important;}
.left-150{left: 150px !important;}
.left-160{left: 160px !important;}
.left-170{left: 170px !important;}
.left-180{left: 180px !important;}
.left-190{left: 190px !important;}
.left-200{left: 200px !important;}
.left-210{left: 210px !important;}
.left-220{left: 220px !important;}
.left-230{left: 230px !important;}
.left-240{left: 240px !important;}
.left-250{left: 250px !important;}
.left-260{left: 260px !important;}
.left-270{left: 270px !important;}
.left-280{left: 280px !important;}
.left-290{left: 290px !important;}
.left-300{left: 300px !important;}
.left-310{left: 310px !important;}
.left-320{left: 320px !important;}
.left-330{left: 330px !important;}
.left-340{left: 340px !important;}
.left-350{left: 350px !important;}
.left-360{left: 360px !important;}
.left-370{left: 370px !important;}
.left-380{left: 380px !important;}
.left-390{left: 390px !important;}
.left-400{left: 400px !important;}
.left-410{left: 410px !important;}
.left-420{left: 420px !important;}
.left-430{left: 430px !important;}
.left-440{left: 440px !important;}
.left-450{left: 450px !important;}
.left-460{left: 460px !important;}
.left-470{left: 470px !important;}
.left-480{left: 480px !important;}
.left-490{left: 490px !important;}
.left-500{left: 500px !important;}
.left-510{left: 510px !important;}
.left-520{left: 520px !important;}
.left-530{left: 530px !important;}
.left-540{left: 540px !important;}
.left-550{left: 550px !important;}
.left-560{left: 560px !important;}
.left-570{left: 570px !important;}
.left-580{left: 580px !important;}
.left-590{left: 590px !important;}
.left-600{left: 600px !important;}
.left-610{left: 610px !important;}
.left-620{left: 620px !important;}
.left-630{left: 630px !important;}
.left-640{left: 640px !important;}
.left-650{left: 650px !important;}
.left-660{left: 660px !important;}
.left-670{left: 670px !important;}
.left-680{left: 680px !important;}
.left-690{left: 690px !important;}
.left-700{left: 700px !important;}
.left-710{left: 710px !important;}
.left-720{left: 720px !important;}
.left-740{left: 730px !important;}
.left-740{left: 740px !important;}
.left-750{left: 750px !important;}
.left-760{left: 760px !important;}
.left-770{left: 770px !important;}
.left-780{left: 780px !important;}
.left-790{left: 790px !important;}
.left-800{left: 800px !important;}
.left-810{left: 810px !important;}
.left-820{left: 820px !important;}
.left-830{left: 830px !important;}
.left-840{left: 840px !important;}
.left-850{left: 850px !important;}
.left-860{left: 860px !important;}
.left-870{left: 870px !important;}
.left-880{left: 880px !important;}
.left-890{left: 890px !important;}
.left-900{left: 900px !important;}
.left-910{left: 910px !important;}
.left-920{left: 920px !important;}
.left-930{left: 930px !important;}
.left-940{left: 940px !important;}
.left-950{left: 950px !important;}
.left-960{left: 960px !important;}
.left-970{left: 970px !important;}
.left-980{left: 980px !important;}
.left-990{left: 990px !important;}
.left-1000{left: 1000px !important;}

/* Right */
.right-0{right: 0px !important;}
.right-10{right: 10px !important;}
.right-20{right: 20px !important;}
.right-30{right: 30px !important;}
.right-40{right: 40px !important;}
.right-50{right: 50px !important;}
.right-60{right: 60px !important;}
.right-70{right: 70px !important;}
.right-80{right: 80px !important;}
.right-90{right: 90px !important;}
.right-100{right: 100px !important;}
.right-110{right: 110px !important;}
.right-120{right: 120px !important;}
.right-130{right: 130px !important;}
.right-140{right: 140px !important;}
.right-150{right: 150px !important;}
.right-160{right: 160px !important;}
.right-170{right: 170px !important;}
.right-180{right: 180px !important;}
.right-190{right: 190px !important;}
.right-200{right: 200px !important;}
.right-210{right: 210px !important;}
.right-220{right: 220px !important;}
.right-230{right: 230px !important;}
.right-240{right: 240px !important;}
.right-250{right: 250px !important;}
.right-260{right: 260px !important;}
.right-270{right: 270px !important;}
.right-280{right: 280px !important;}
.right-290{right: 290px !important;}
.right-300{right: 300px !important;}
.right-310{right: 310px !important;}
.right-320{right: 320px !important;}
.right-330{right: 330px !important;}
.right-340{right: 340px !important;}
.right-350{right: 350px !important;}
.right-360{right: 360px !important;}
.right-370{right: 370px !important;}
.right-380{right: 380px !important;}
.right-390{right: 390px !important;}
.right-400{right: 400px !important;}
.right-410{right: 410px !important;}
.right-420{right: 420px !important;}
.right-430{right: 430px !important;}
.right-440{right: 440px !important;}
.right-450{right: 450px !important;}
.right-460{right: 460px !important;}
.right-470{right: 470px !important;}
.right-480{right: 480px !important;}
.right-490{right: 490px !important;}
.right-500{right: 500px !important;}
.right-510{right: 510px !important;}
.right-520{right: 520px !important;}
.right-530{right: 530px !important;}
.right-540{right: 540px !important;}
.right-550{right: 550px !important;}
.right-560{right: 560px !important;}
.right-570{right: 570px !important;}
.right-580{right: 580px !important;}
.right-590{right: 590px !important;}
.right-600{right: 600px !important;}
.right-610{right: 610px !important;}
.right-620{right: 620px !important;}
.right-630{right: 630px !important;}
.right-640{right: 640px !important;}
.right-650{right: 650px !important;}
.right-660{right: 660px !important;}
.right-670{right: 670px !important;}
.right-680{right: 680px !important;}
.right-690{right: 690px !important;}
.right-700{right: 700px !important;}
.right-710{right: 710px !important;}
.right-720{right: 720px !important;}
.right-740{right: 730px !important;}
.right-740{right: 740px !important;}
.right-750{right: 750px !important;}
.right-760{right: 760px !important;}
.right-770{right: 770px !important;}
.right-780{right: 780px !important;}
.right-790{right: 790px !important;}
.right-800{right: 800px !important;}
.right-810{right: 810px !important;}
.right-820{right: 820px !important;}
.right-830{right: 830px !important;}
.right-840{right: 840px !important;}
.right-850{right: 850px !important;}
.right-860{right: 860px !important;}
.right-870{right: 870px !important;}
.right-880{right: 880px !important;}
.right-890{right: 890px !important;}
.right-900{right: 900px !important;}
.right-910{right: 910px !important;}
.right-920{right: 920px !important;}
.right-930{right: 930px !important;}
.right-940{right: 940px !important;}
.right-950{right: 950px !important;}
.right-960{right: 960px !important;}
.right-970{right: 970px !important;}
.right-980{right: 980px !important;}
.right-990{right: 990px !important;}
.right-1000{right: 1000px !important;}

/* Z-index */
.z1{z-index: 1 !important;}
.z2{z-index: 2 !important;}
.z3{z-index: 3 !important;}
.z4{z-index: 4 !important;}
.z5{z-index: 5 !important;}
.z6{z-index: 6 !important;}
.z7{z-index: 7 !important;}
.z8{z-index: 8 !important;}
.z9{z-index: 9 !important;}
.z10{z-index: 10 !important;}
.z11{z-index: 11 !important;}
.z12{z-index: 12 !important;}
.z13{z-index: 13 !important;}
.z14{z-index: 14 !important;}
.z15{z-index: 15 !important;}
.z16{z-index: 16 !important;}
.z17{z-index: 17 !important;}
.z18{z-index: 18 !important;}
.z19{z-index: 19 !important;}
.z20{z-index: 20 !important;}
.z21{z-index: 21 !important;}
.z22{z-index: 22 !important;}
.z23{z-index: 23 !important;}
.z24{z-index: 24 !important;}
.z25{z-index: 25 !important;}
.z26{z-index: 26 !important;}
.z27{z-index: 27 !important;}
.z28{z-index: 28 !important;}
.z29{z-index: 29 !important;}
.z30{z-index: 30 !important;}
.z31{z-index: 31 !important;}
.z32{z-index: 32 !important;}
.z33{z-index: 33 !important;}
.z34{z-index: 34 !important;}
.z35{z-index: 35 !important;}
.z36{z-index: 36 !important;}
.z37{z-index: 37 !important;}
.z38{z-index: 38 !important;}
.z39{z-index: 39 !important;}
.z40{z-index: 30 !important;}
.z41{z-index: 41 !important;}
.z42{z-index: 42 !important;}
.z43{z-index: 43 !important;}
.z44{z-index: 44 !important;}
.z45{z-index: 45 !important;}
.z46{z-index: 46 !important;}
.z47{z-index: 47 !important;}
.z48{z-index: 48 !important;}
.z49{z-index: 49 !important;}
.z50{z-index: 50 !important;}
.z51{z-index: 51 !important;}
.z52{z-index: 52 !important;}
.z53{z-index: 53 !important;}
.z54{z-index: 54 !important;}
.z55{z-index: 55 !important;}
.z56{z-index: 56 !important;}
.z57{z-index: 57 !important;}
.z58{z-index: 58 !important;}
.z59{z-index: 59 !important;}
.z60{z-index: 60 !important;}
.z61{z-index: 61 !important;}
.z62{z-index: 62 !important;}
.z63{z-index: 63 !important;}
.z64{z-index: 64 !important;}
.z65{z-index: 65 !important;}
.z66{z-index: 66 !important;}
.z67{z-index: 67 !important;}
.z68{z-index: 68 !important;}
.z69{z-index: 69 !important;}
.z70{z-index: 70 !important;}
.z71{z-index: 71 !important;}
.z72{z-index: 72 !important;}
.z73{z-index: 73 !important;}
.z74{z-index: 74 !important;}
.z75{z-index: 75 !important;}
.z76{z-index: 76 !important;}
.z77{z-index: 77 !important;}
.z78{z-index: 78 !important;}
.z79{z-index: 79 !important;}
.z80{z-index: 80 !important;}
.z81{z-index: 81 !important;}
.z82{z-index: 82 !important;}
.z83{z-index: 83 !important;}
.z84{z-index: 84 !important;}
.z85{z-index: 85 !important;}
.z86{z-index: 86 !important;}
.z87{z-index: 87 !important;}
.z88{z-index: 88 !important;}
.z89{z-index: 89 !important;}
.z90{z-index: 90 !important;}
.z91{z-index: 91 !important;}
.z92{z-index: 92 !important;}
.z93{z-index: 93 !important;}
.z94{z-index: 94 !important;}
.z95{z-index: 95 !important;}
.z96{z-index: 96 !important;}
.z97{z-index: 97 !important;}
.z98{z-index: 98 !important;}
.z99{z-index: 99 !important;}

/* Cursor */
.crs-pointer{cursor: pointer !important;}
.crs-crosshair{cursor: crosshair !important;}
.crs-default{cursor: default !important;}
.crs-help{cursor: help !important;}
.crs-move{cursor: move !important;}
.crs-progress{cursor: progress !important;}
.crs-text{cursor: text !important;}
.crs-wait{cursor: wait !important;}
.crs-e-resize{cursor: e-resize !important;}
.crs-ne-resize{cursor: ne-resize !important;}
.crs-auto{cursor: auto !important;}
